html, body, .app, .sign-in-page
{
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app
{
  background: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
}

.loading-app
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-page
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-title
{
  color: white;  
  font-size: 60px;
  font-family: sans-serif;
  text-align: center;
}

.sign-in-button
{
  background: red;
  color: white;
  padding: 15px 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 25px;
  transition: background 0.15s;
}

.sign-in-button:hover
{
  background: rgb(210, 0, 0);
}

.navbar
{
  background: rgb(32, 32, 32);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  padding: 20px 0;
}

.navbar-button
{
  background: none;
  color: white;
  margin: 0 20px;
  border: none;
  outline: none;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  transition: color 0.15s;
}

.navbar-button:hover
{
  color: rgb(218, 218, 218);
}

.title
{
  font-size: 30px;
  font-weight: 700;
}

.navbar-spacer
{
  flex: 1;
}

.videos
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.no-videos-message
{
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

.video-thumbnail
{
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px 0 0 0;
  width: 500px;
  height: 550px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.25s;
}

.video-thumbnail:hover
{
  background: rgba(0, 0, 0, 0.75);
}

.thumbnail-container
{  
  width: 100%;
  height: 75%;
}

.thumbnail
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-thumbnail-title, .video-thumbnail-views
{
  color: white;
  margin: 5px 0;
  font-size: 25px;
}

.video-page
{
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.video-container
{
  background: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 250px);
}

video
{
  height: 100%;
  width: 100%;  
  outline: none;
}

.video-info
{
  display: flex;  
  justify-content: space-between;
  margin: 15px auto;
  width: 75%;
  height: 100%;
}

.video-stat
{
  color: white;
  margin: 10px 0;
  font-size: 25px;
  font-family: sans-serif;
}

.video-like-button
{
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0px 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.15s;
}

.fa-thumbs-up
{
  color: white;
  margin-right: 15px;
  font-size: 25px;
}

.video-like-button:hover
{
  background: rgba(0, 0, 0, 0.25);
}

.upload-video-page
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.upload-video-title
{
  color: white;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.select-file-button
{
  background: white;
  margin-bottom: 20px;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 25px;
  transition: background 0.15s;
}

.select-file-button:hover
{
  background: rgb(235, 235, 235);
}

.file-input
{
  visibility: hidden;
}

.video-title-input
{  
  padding: 10px 15px;
  border: 3px solid none;
  outline: none;
  border-radius: 10px;
  font-size: 25px;
}

.video-title-input::placeholder
{
  font-style: italic;
}

.post-video-button
{
  background: red;
  color: white;
  margin-top: 20px;
  padding: 15px 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 25px;
  transition: background 0.15s;
}

.post-video-button:hover
{
  background: rgb(210, 0, 0);
}

.uploading-video-modal
{
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading-circle
{
  border: 12px solid white;
  border-top: 12px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.uploading-video-text
{
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

.gray-text
{
  color: rgb(161, 161, 161);
}